:root {
    --primary-color: #6AB547;
    --secondary-color: #628B48;
    --text-color: #333;
}

header,
main,
footer {
    max-width: 800px;
}

h1,
h2,
h3 {
    font-size: 30px;
    font-family: Oswald;
    color: var(--primary-color);
}

p {
    font-family: Archivo Narrow;
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-color)
}

.logo {
    max-width: 200px;
}

.hero {
    display: block;
    position: relative;
}

.h1-image {
    float: right;
}

.slogan {
    top: 0px;
    left: 130px;
    color: white;
    background-color: rgb(128, 128, 128, 0.65);
    font-size: 35px;
    position: absolute;
}

.article-1 {
    top: 150px;
    left: 50px;
    font-size: 20px;
    position: absolute;
    background-color: rgb(206, 212, 211, 0.65);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 600px;
}

.sociallinks {
    text-decoration: none;
}