:root {
    --primary-color: #6AB547;
    --secondary-color: #628B48;
    --accent1-color: #EDD83D;
    --accent2-color: #9A5833;

    --heading-font: "Poppins", sans-serif;
    --text-font: "Archivo Narrow", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: #333;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 1rem;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.sociallinks img {
    width: 2.5em;
    padding: 5px;
}

.sociallinks {
    grid-column: 3;
    justify-self: end;
}

footer {
    display: grid;
    background-color: var(--secondary-color);
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    font-size: 1.5em;
    align-content: space-between;
}

.navigation {
    background-color: #628B48;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-end;
}

.navigation li {
    flex: 1 1 auto;
    text-align: left;
}

.navigation a {
    display: block;
    color: #333;
    font-size: 20px;
    padding: 1rem;
    text-decoration: none;
}

header ul li a {
    transition: all 0.3s;
}

header ul li a:hover,
header ul li a.active {
    color: #6AB547;
    border-bottom: 2px var(--secondary-color);
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: 'Archivo Narrow', 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #333;
}

form {
    width: 605px;
    margin: 0;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    background-color: #EDD83D;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
}

legend {
    text-align: center;
    padding: 0.5rem;
    color: #333;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

label,
input,
button,
select,
textarea {
    font-family: Archivo Narrow, Poppins, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: lightblue;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.3rem;
}

button:hover {
    background-color: darkcyan;
    transition: 0.10s;
}

.contactBox {
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 10px;
    display: flexbox;
}

.contact-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.infoSection {
    color: #333;
    max-width: 450px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
    padding-right: 14rem;
}

.map-container {
    color: #333;
    max-width: 650px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
}

h4 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.staff {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 2fr));
    gap: 4rem;
    padding: 0 0 .5rem;
    margin: 0 auto;
}

.staff img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2rem;
}

figcaption {
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    color: #628B48;
}