:root {
    --primary-color: #6AB547;
    --secondary-color: #628B48;
    --accent1-color: #EDD83D;
    --accent2-color: #9A5833;

    --heading-font: "Oswald", serif;
    --text-font: "Archivo Narrow", serif;
}

body {
    font-family: var(--text-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 1rem;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0.5em;
    left: 30%;
    background-color: rgb(0, 0, 0, 0.45);
    color: white;
}

.hero article {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    top: 9rem;
    left: 2rem;
    right: 2rem;
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 15rem
}

.hero article p {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}

.sociallinks img {
    width: 2.5em;
    padding: 5px;
}

.sociallinks {
    grid-column: 3;
    justify-self: end;
}

footer {
    display: grid;
    background-color: var(--secondary-color);
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    font-size: 1em;
    align-content: space-between;
}

.navigation {
    background-color: #628B48;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-end;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #333;
    font-size: 20px;
    padding: 1rem;
    text-decoration: none;
}

header ul li a {
    transition: all 0.3s;
}

header ul li a:hover,
header ul li a.active {
    color: #6AB547;
    border-bottom: 2px var(--secondary-color);
}

.history-img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    padding-top: 1.5em;
    border-radius: 5rem;
}

.our-history {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.intro {
    line-height: 1.5;
    flex: 1;
    font-size: 20px;
    text-align: justify;
}

.title2 {
    font-size: 40px;
    color: #628B48;
}

.h2-title {
    font-size: 45px;
    text-align: center;
    color: #628B48;
    padding: 0.5em 0.5em 0.5em;
}

.raft {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    padding: 0 0.5rem;
    margin: 0 auto;
}

.raft img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2rem;
}

figcaption {
    text-align: center;
    font-size: 20px;
    color: #628B48;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: 'Archivo Narrow', 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #333;
}

form {
    width: 605px;
    margin: 0;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    background-color: #EDD83D;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
}

legend {
    text-align: center;
    padding: 0.5rem;
    color: #333;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

label,
input,
button,
select,
textarea {
    font-family: Archivo Narrow, Poppins, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: lightblue;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.3rem;
}

button:hover {
    background-color: darkcyan;
    transition: 0.10s;
}

.contactBox {
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 10px;
}

.contact-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.infoSection {
    color: #333;
    max-width: 450px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
    padding-right: 14rem;
}

.map-container {
    color: #333;
    max-width: 650px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
}

h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.staff {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 2fr));
    gap: 4rem;
    padding: 0 0 .5rem;
    margin: 0 auto;
}

.staff img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2rem;
}

figcaption {
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    color: #628B48;
}

.map-frame {
    border: none;
    width: 555px;
    height: 300px;
}

.footContact {
    font-size: 20px;
}

.redirectionButton {
    background-color: #5054c6;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 12px;
}

.hero-text {
    position: relative;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3em;
}

.hero-text h1 {
    position: absolute;
    top: 3.5em;
    color: #fff;
    font-size: 2.5em;
    left: 2%;
    font-family: "Poppins", sans-serif;
}

.hero-text p {
    position: absolute;
    top: 8em;
    color: #fff;
    left: 22%;
    font-size: 35px;
    font-family: "Archivo Narrow", sans-serif;
}

.CTAButton {
    position: absolute;
    left: 42%;
    top: 450px;
}

.CTAButton:hover {
    transition: 0.12s;
    background-color: #5243c9;
}

.HomeWrapper h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #628B48;
}

.HomeWrapper img {
    width: 450px;
    height: 350px;
    left: 100%;
}

.bolded-p {
    font-weight: bold;
    color: red;
}

.HomeWrapper form {
    color: #333;
    max-width: 330px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
    padding-right: 14rem;
}

.HomeWrapper figcaption {
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    color: white;
}

.HomeWrapper p {
    font-size: 1.5rem;
    text-align: center;
}

.HomeWrapper2 img {
    width: 450px;
    height: 350px;
    left: 100%;
}


.HomeWrapper2 form {
    color: #333;
    max-width: 330px;
    background-color: #EDD83D;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.5em;
    padding-right: 14rem;
}

.HomeWrapper2 figcaption {
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    color: white;
}

.HomeWrapper2 p {
    font-size: 1.5rem;
    text-align: center;
}

.glob-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}

.newsletter form {
    border: none;
}

.newsletter {
    background-color: #EDD83D;
    padding: 3rem;
    max-width: 650px;
    margin: 2rem auto;
    border-radius: 1.5rem;
    border: 1px solid rgb(0 0 0 / 0.5);
    text-align: center;
}

.newsletter h3 {
    font-size: 3rem;
    color: #628B48;
    margin-bottom: 1rem;
}

.newsletter label {
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    font-family: "Poppins", sans-serif;
}

.newsletter input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.newsletter button {
    background-color: #628B48;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #4a6e37;
}

.hero-trips h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.heroTrips {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    opacity: 70%;
}

.line {
    border: none;
    border-top: 1px solid gray;
    margin: 10px 0;
    padding-bottom: 2.5rem;
}

.hero-trips p {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
}